<!DOCTYPE html>
<html lang="en">

<head>	
	<!-- metas for phones -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Burger Boss!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- apply reset, then bootstrap, then my additional styling, then jquery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/burger_style.css">
</head>

<body>
	{{{ body }}}
	{{!-- import javascript file --}}
	<script src="/assets/js/burgers.js"></script>
</body>

</html>